@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use 'sass:map';
@use 'sass:color';

.product-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: flex-start;
  margin: auto;
  max-width: 1440px;
}


@media (max-width: 768px) {
  .product-container {
    flex-direction: row-reverse;
    align-items: center;
    padding: 0;

  }
}

.product-slider-wrap {
  max-width: 53.5%;
  display: flex;
  flex-direction: row-reverse;
  border-right: 1px solid #000000;
  align-self: stretch;
  overflow: hidden;
  position: relative;

  .product-slider {
    max-width: 85%;
    border-left: 1px solid #000000;

    .slick-list {
      height: 100%;

      .slick-track {
        display: flex;
        align-items: center;
        height: 100%;

        .slide {
          height: 594px;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }
    }
  }

  .product-top-info {
    display: none;
  }

  .product-thumbs {
    display: flex;
    max-width: 120px;

    .slick-track {
      display: flex;
      flex-direction: column;

      .slick-slide {
        display: flex;
        border: none;
        border-bottom: 1px solid #000000;
        border-left: 2px solid #000000;
        height: 120px;
        box-sizing: border-box;
        overflow: hidden;

      }
    }

    .thumb {
      cursor: pointer;
      width: 120px;
      height: auto;
      border: 1px solid #000000;
      transition: border-color 0.3s;
    }

    .slick-current {
      border-color: #000;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    border-right: none;
    max-width: 100%;

    .product-slider {
      border-left: none;
      max-width: 100%;
      max-height: 357px;

      .slick-list {
        .slick-track {
          align-items: flex-start;

          .slide {
            height: auto;
          }
        }
      }
    }

    .product-top-info {
      display: block;
      padding: 18px 30px;
      text-align: center;

      .product-title {
        margin-bottom: 7px;
      }
    }

    .product-thumbs {
      max-width: 100%;

      .slick-track {
        flex-direction: row;

        .slick-slide {
          border-left: 1px solid #000000;
          border-top: 1px solid #000000;
          height: 150px;
          min-width: 150px;
        }
      }
    }
  }
}



/* Right: Product Info */
.product-info-wrap {
  flex: 1;
  min-width: 30%;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  padding: 25px 90px 65px 40px;
  align-self: stretch;

  .product-top-info {
    display: block;
  }

  .product-title {
    font-family: map.get($font-families, 'heading');
    font-weight: 400;
    font-size: 32px;
    color: #333333;
    margin-top: 6px;
    margin-bottom: 12px;
  }

  .product-description,
  .product-text {
    font-weight: 300;
    border-bottom: 1px solid #DBDACF;
    padding-bottom: 14px;
    color: #42423F;
    text-transform: capitalize;
    margin-bottom: 16px;

    &.last {
      border-bottom: none;
      font-size: 12px;
      padding-bottom: 0;
      max-width: 300px;
    }
  }

  .product-description {
    border-bottom: 2px solid #52494A;
    margin-bottom: 26px;
    padding-bottom: 18px;
  }

  .sub-title {
    font-weight: 400;
    color: #333333;
    display: flex;
    width: 100%;
    margin: 0 0 7px;
  }

  .product-sizes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 11px 0 34px;
    gap: 24px;

    .size-option {
      display: inline-block;
      cursor: pointer;

      input {
        display: none;
      }

      span {
        display: inline-block;
        padding: 6px 20px;
        color: #42423F;
        background-color: #ffffff;
        border-radius: 4px;
        transition: all 0.3s ease;
      }

      input:checked+span {
        background-color: #333333;
        color: #ffffff;
      }
    }
  }

  .sub-title-icon {
    display: flex;
    justify-content: space-between;
  }

  .short-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
    display: inline-block;
    transition: all 0.3s ease-in-out;
  }

  .short-text.expanded {
    white-space: normal;
    overflow: visible;
  }

  .read-more-btn {
    background-color: transparent;
    color: #333333;
    border: 1px solid #333333;
    line-height: 11px;
    padding: 4px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border-radius: 50%;
  }

  .submit-button {
    font-size: 14px;
    background-color: #333333;
    min-width: 300px;
    padding: 16px 0;
    border-radius: 0;
    margin-bottom: 10px;

    @include hover {
      background-color: var(--color-primary-dark, #cf6611);
      color: #fff;
    }
  }

  .note {
    font-weight: 400;
    font-size: 12px;
    color: #333333;
    display: flex;
    width: 100%;
    margin: 4px 0;
  }

  @media (max-width: 768px) {
    padding: 30px 32px;
    min-width: auto;
    max-width: 100%;

    .product-top-info {
      display: none;
    }

    .sub-title {
      margin: 0 0 5px;
    }

    .note {
      justify-content: center;
      margin: 12px 0 2px 0;
    }

    .product-text.last {
      margin: auto;
    }

    .submit-button {
      width: 100%;
    }

  }
}

.more-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #000000;

  .odd-card,
  .even-card {
    display: flex;
    flex-direction: row;
    max-width: 1440px;

    .card-text,
    img {
      max-width: 50%;

      width: 100%;
      object-fit: cover;
    }

    .card-text {
      margin: 0;
      display: flex;
      flex-direction: column;

      .sub-title {
        margin-bottom: 17px;
      }

      .product-text {
        font-size: 32px;
        font-family: map.get($font-families, 'heading');
        line-height: 44px;
      }
    }
  }

  .odd-card {
    display: flex;
    flex-direction: row-reverse;
    border-bottom: 1px solid #000000;

    .card-text {
      border-left: 1px solid #000000;
      padding: 57px;
    }

    img {
      max-height: 768px;
    }
  }

  .even-card {
    .card-text {
      border-right: 1px solid #000000;
      padding: 160px 140px 0 94px;
    }

    img {
      max-height: 472px;
    }
  }

  @media (max-width: 768px) {

    .odd-card,
    .even-card {
      flex-direction: column-reverse;
      border-bottom: 0;

      img {
        max-width: 100%;
        padding: 32px 32px 24px;


      }

      .card-text {
        border: none;
        padding: 0 32px 0;
        max-width: 100%;

        .sub-title {
          margin-bottom: 9px;
        }

        .product-text {
          font-size: 20px;
          line-height: 28px;
        }
      }
    }
  }
}

// RELATE PRODUST
.relate-products {
  background-color: #e9e6da;
  border-top: 1px solid #000000;
  padding: 65px 0;
  overflow: hidden;

  .container {
    overflow: visible;

    .block-title {
      font-size: 32px;
      font-family: map.get($font-families, 'heading');
      font-weight: 400;
      margin-bottom: 102px;
    }

    .relate-product-slider {
      .slick-list {
        margin-right: calc((-100vw + 100%) / 2);

      }

      .product-item {
        max-width: 408px;

        +.product-item {
          margin-left: 140px;
        }

        .product-image {
          display: flex;
          width: 316px;
          height: 381px;

          img {
            width: 100%;
            object-fit: cover;
          }
        }

        .category {
          border-bottom: 1px solid #52494A;
          position: relative;
          padding-left: 10px;
          font-size: 12px;
          padding-bottom: 2px;
          margin-bottom: 20px;

          &::before {
            content: "";
            display: block;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background-color: map.get($colors, 'black');
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            margin: auto;
          }
        }

        .product-title-price {
          display: flex;
          justify-content: space-between;

          .product-title {
            font-family: map.get($font-families, 'base');
            font-size: 18px;
            font-weight: 400;
            line-height: 16px;
            color: map.get($colors, 'black');
            margin-bottom: 7px;
          }

          .product-price {
            font-family: map.get($font-families, 'base');
            font-size: 13px;
            color: map.get($colors, 'black');
            display: flex;
            gap: 10px;

            .regular-price {
              text-decoration: line-through;
              color: #42423F;
            }

            p:only-child,
            p:nth-child(2) {
              text-decoration: none;
            }
          }

        }

        .product-description {
          font-family: map.get($font-families, 'base');
          font-size: 13px;
          color: map.get($colors, 'black');
          margin-bottom: 24px;
        }

        .submit-button {
          opacity: 0;
          font-family: map.get($font-families, 'base');
          font-size: 14px;
          width: 100%;
          height: 56px;
          border-radius: 0;
          margin-bottom: 20px;
        }

        &:hover .submit-button {
          opacity: 1;
        }
      }

      .slick-dots {
        background: #F7F4EC;
        height: 2px;
        display: flex;

        li {
          width: auto;
          height: 2px;
          display: block;
          margin: 0;
          overflow: hidden;
          max-height: 2px;

          button {
            width: 200px;
            height: 2px;

            &::before {
              display: none;
            }
          }

          &.slick-active {
            button {
              height: 2px;
              margin: 0;
              padding: 0;
              cursor: pointer;
              background: #000;
            }
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    background-color: #f7f4ec;
    border-top: none;

    padding: 47px 32px;

    .container {
      border-top: 1px solid#DBDACF;
      padding: 36px 0;

      .block-title {
        margin-bottom: 32px;
      }

      .relate-product-slider {
        .product-item {
          max-width: 213px;

          .product-image {
            width: 206px;
            height: 248px;
            margin-bottom: 22px;
          }
        }

        .product-item+.product-item {
          margin-right: 74px;
          margin-left: 0;
        }
      }
    }
  }
}