@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as mix;
@use 'sass:map';

/* Header Styles */
.site-header {
  // position: sticky;
  top: 0;
  background-color: map.get($colors, 'pale');
  border-bottom: 1px solid #000000;
  z-index: map.get($z-index, 'sticky');
  backdrop-filter: blur(8px);
  padding: map.get($spacers, 3) 0;
  min-height: 60px;

  &__container {
    position: relative;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    gap: map.get($spacers, 3);
    flex-direction: row;
    justify-content: space-between;
  }

  &__branding {
    display: flex;
    align-items: center;
    gap: map.get($spacers, 3);
    min-width: 295px;
  }

  &__logo {
    img {
      height: auto;
      max-height: 50px;
      width: auto;
    }
  }

  &__titles {
    display: flex;
    flex-direction: column;
    text-align: right;
  }

  &__title {
    margin: 0;
    font-size: map.get($font-sizes, 'xl');
    line-height: 1.2;

    a {
      color: map.get($colors, 'gray', 900);
      text-decoration: none;
      transition: map.get($transitions, 'base');

      &:hover {
        color: map.get($colors, 'primary');
      }
    }
  }

  &__description {
    margin: map.get($spacers, 1) 0 0;
    font-size: map.get($font-sizes, 'sm');
    color: map.get($colors, 'gray', 600);
  }

  @media (max-width: 767px) {
    &__container {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &__branding {
      min-width: auto;
      margin: auto;
      padding-left: 80px;
    }

    &__logo {
      img {
        max-height: 20px;
      }
    }
  }
}

/*Adjustment for WordPress admin bar */
.admin-bar .site-header {
  top: 32px;

  @media screen and (max-width: 782px) {
    top: 46px;
  }
}

// Top bar
.custom-top-bar {
  background: #333;
  color: #fff;
  padding: 9px 0 8px;
  // font-family: Work Sans;
  font-weight: 400;
  font-size: 13px;
  line-height: 15.25px;
  letter-spacing: -2%;
  text-align: center;
  position: relative;
}

.close-top-bar {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  cursor: pointer;
  color: #fff;
}