@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as mix;
@use 'sass:map';

/* Header Styles */
.site-header {
  position: sticky;
  top: 0;
  background-color: map.get($colors, 'pale');
  border-bottom: 1px solid #000000;
  z-index: map.get($z-index, 'sticky');
  backdrop-filter: blur(8px);
  padding: map.get($spacers, 2) 0;

  &__container {
    position: relative;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    gap: map.get($spacers, 3);
    flex-direction: row;
    justify-content: space-between;
  }

  &__branding {
    display: flex;
    align-items: center;
    gap: map.get($spacers, 3);
  }

  &__logo {
    img {
      height: auto;
      max-height: 50px;
      width: auto;
    }
  }

  &__titles {
    display: flex;
    flex-direction: column;
    text-align: right;
  }

  &__title {
    margin: 0;
    font-size: map.get($font-sizes, 'xl');
    line-height: 1.2;

    a {
      color: map.get($colors, 'gray', 900);
      text-decoration: none;
      transition: map.get($transitions, 'base');

      &:hover {
        color: map.get($colors, 'primary');
      }
    }
  }

  &__description {
    margin: map.get($spacers, 1) 0 0;
    font-size: map.get($font-sizes, 'sm');
    color: map.get($colors, 'gray', 600);
  }
}

/*Adjustment for WordPress admin bar */
.admin-bar .site-header {
  top: 32px;

  @media screen and (max-width: 782px) {
    top: 46px;
  }
}